* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-image: linear-gradient(#cef564,#e9db60);
    background-color: 
    color rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.cabecalho-imagem{
    width: 13%;
    align-items: center;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 25%;
    align-items: center;
}

.escola{
    background-image: linear-gradient(#ffffff,#ffffff);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 30px 0;
    align-items: center;
}

.estudante-imagem{
    width: 200px;
    align-items: center;
}

.soja-imagem{
    width: 200px;
    align-items: center;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
    align-items: center;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30%;
    align-items: center;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
    align-items: center;
}